{
  "useTabs": false,
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 100,
  "plugins": [
    "prettier-plugin-svelte",
    "prettier-plugin-tailwindcss",
    "@ianvs/prettier-plugin-sort-imports"
  ],
  "overrides": [
    {
      "files": "*.svelte",
      "options": {
        "parser": "svelte"
      }
    }
  ],
  "importOrder": [
    "^svelte(/.+)?",
    "^@sveltejs/.+",
    "^bits-ui(/.+)?",
    "<THIRD_PARTY_MODULES>",
    "^$env",
    "^$app",
    "^$service-worker",
    "<TYPES>^svelte(/.+)?",
    "<TYPES>^@sveltejs/.+",
    "<TYPES>^bits-ui(/.)+",
    "<TYPES><THIRD_PARTY_MODULES>",
    "<TYPES>^$(env|app|service-worker)",
    "<TYPES>",
    "",
    "shadcn/(?!(utils(.(j|t)s)?)|(hooks(/.*)?)b).+",
    "shadcn/hooks(/.*)?",
    "shadcn/utils(.(j|t)s)?",
    "<TYPES>^shadcn",
    "",
    "^#components",
    "^#lib",
    "^[.]",
    "<TYPES>^#components",
    "<TYPES>^#lib",
    "<TYPES>^[.]",
    ""
  ]
}
